@media (max-width:670px){
      .hero_div{
            flex-direction: column-reverse !important;
      }
      .about_div{
            margin-top: 5vh;
      }
}
@media (max-width:300px){
      .about_div{
            margin-top: 10vh;
      }
}